<div class="container">
  <div class="image">
    <a href="/"><img src="../../../assets/IA_small.png" alt="dIAg" /></a>
  </div>
  <mat-card>
    <mat-card-title>
      Résultats
    </mat-card-title>
    <mat-card-content>
      <label>Votre client est susceptible de développer : </label>
      <div *ngIf="donnees">
        <ul>
          <li *ngFor="let item of getTroisPlusGrandesNtop()">
            <p>Pathologie : {{ item.patho_niv1 }}</p>
            <p *ngIf="item.patho_niv2 != ';' && item.patho_niv2!=item.patho_niv1 && item.patho_niv3!=item.patho_niv3">{{ item.patho_niv2 }}</p>
            <p *ngIf="item.patho_niv3 != ';' && item.patho_niv3!=item.patho_niv1 && item.patho_niv2!=item.patho_niv1">{{ item.patho_niv3 }}</p>
          </li>
        </ul>
      </div>
      <button mat-raised-button routerLink="/statistiques">Voir plus de statistiques</button>
      <button mat-raised-button>Trouver un produit adapté</button>

    </mat-card-content>
  </mat-card>
</div>
