<div class="container">
  <div class="image">
    <a href="/"><img src="../../../assets/IA_small.png" alt="dIAg" /></a>
  </div>
  <mat-card>
    <mat-card-header>
      Résultats
    </mat-card-header>
    <mat-card-content>
      <label>Votre client est susceptible de développer : </label>

      <div *ngIf="donnees">
        <ul>
          <li *ngFor="let item of getTroisPlusGrandesNpop()">
            <p>Pathologie : {{ item.patho_niv1 }}</p>
            <p *ngIf="item.patho_niv2 != ';'">{{ item.patho_niv2 }}</p>
            <p>Sexe : {{ item.libelle_sexe }}</p>
            <p>Age : {{item.cla_age_5}}</p>
          </li>
        </ul>
      </div>

      <button mat-raised-button routerLink="/statistiques">Voir plus de statistiques</button>
      <button mat-raised-button>Trouver un produit adapté</button>

    </mat-card-content>
  </mat-card>
</div>
